/* BODY */

body{
	margin: 0px;
}

/* ETIQUETAS SEMANTICAS */

header{
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 4;
	grid-area: header;
}

aside{
	-ms-grid-row: 2;
	-ms-grid-column: 4;
	grid-area: aside;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align:end;
	    -ms-flex-align:end;
	        align-items:flex-end;
	-webkit-box-pack:end;
	    -ms-flex-pack:end;
	        justify-content:flex-end;
}

section{
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-area: main;
	height: 750px;
}

footer{
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	-ms-grid-column-span: 4;
	grid-area: footer;
}

nav{
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	-webkit-box-pack: center;	
	    -ms-flex-pack: center;	
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #f44336;
	height: 100px;
	border-bottom: 0.5px solid black;
}


/* SELECTOR GLOBAL */

p{
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
}

label{
	font-family: 'Indie Flower';
	font-weight: bold;	
}

/* BOTONES DEL MENU DE NAVEGACION */

#navbuttons{
	margin-left: 10%;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	    -ms-flex-direction:row;
	        flex-direction:row;
}

#navbuttons button{
	border-radius: 50%;
	height: 80px;
	width: 80px;
	background-color: white;
	border: 0.5px solid black;
	margin: 35px;
	cursor: pointer;	
}

button > img{
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;	
	-o-object-fit:scale-down;	
	   object-fit:scale-down;
	height:100%;
	width:100%;
}

#navbuttons button:hover{
	background-color: lightgray;
}

#navbuttons button:active{
  background-color: lightgray;
  -webkit-box-shadow: 0 2px #666;
          box-shadow: 0 2px #666;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

#navbuttons button:focus{
	outline: 0;
}

#logreg {
	margin-right: -10%;
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	margin-top: 0.5em;
	-ms-flex-item-align: start;
	    align-self: flex-start;
	padding-left: 10%;
}

#logreg button{
	width: 6.5em;
	background-color: white;
	border: 0.5px solid black;
	height: 1.75em;
	cursor: pointer;	
}

#reg{
	margin-left: 1em;
}

/* GRID CONTAINER */

.grid-container{
	display: grid;
	display: -ms-grid;
	    grid-template-areas: 
	'header header header header'
	'main main main aside'
	'footer footer footer footer';
	-ms-grid-columns: 27% 27% 27% 19%;
	grid-template-columns: 27% 27% 27% 19%;
}

/* ELEMENTOS HEADER */

#banner{
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	-webkit-box-pack: justify;	
	    -ms-flex-pack: justify;	
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#bannerlink{
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	-webkit-box-flex: 1;	
	    -ms-flex: 1;	
	        flex: 1;	
	display: block;
	margin-left: 20%;
	margin-right: 20%;
}

#dividioma{
	margin-left:20%;
	-webkit-box-flex:1;
	        flex:1;
	-webkit-flex: 1;
	-ms-flex: 1;
	-ms-flex-item-align: end;
	    align-self: flex-end;
}

#logo {
	-webkit-box-flex:1;
	        flex:1;
	-webkit-flex: 1;
	-ms-flex: 1;	
	display: block;
	-o-object-fit: contain;
	   object-fit: contain;
	margin-left: 35%;
	width:230%;
}

#divider1{
	height: 25px;
	border-top: 0.5px solid black;
	border-bottom: 0.5px solid black;
}

#divider1img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	object-fit:contain;
	-o-object-fit: contain;	
	height: 100%;
}

/* ELEMENTOS SECTION */


/* parte superior */

#contenttop{
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	-webkit-box-pack: justify;	
	    -ms-flex-pack: justify;	
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

#searchbar{
	border-radius: 1em;
	height: 1.5em;
}

#searchbar:focus{
	outline:0;
}

#advsearch{
	background-color: white;
	border: 0.5px solid black;
	height: 1.75em;
	margin-left: 0.5em;
	cursor: pointer;
}

/* parte principal */

#mainsection{
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	-webkit-box-orient: horizontal;	
	-webkit-box-direction: normal;	
	    -ms-flex-direction: row;	
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 2.5em;
	height: 100%;		
}

.contentdiv{
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	-webkit-box-align: center;	
	    -ms-flex-align: center;	
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 350px;
}

p.contentdivtag{
	font-family: 'Indie Flower';
	font-size: 1.25em;
}

.contentcontainer{
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	-webkit-box-align: center;	
	    -ms-flex-align: center;	
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 80%;
	height: 100%;
	background-color: #f44336;
	border: 0.5px solid black;
	overflow-y: auto;
	overflow-x:hidden;
}

div.mediacontent{
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	-webkit-box-align: center;	
	    -ms-flex-align: center;	
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-negative:0;
	    flex-shrink:0;
	height: 30%;
	width: 90%;
}

div.mediaimg{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	-webkit-box-orient: vertical;	
	-webkit-box-direction: normal;	
	    -ms-flex-direction: column;	
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 70%;
	width: 70%;
	margin-right: 1em;
}

.mediaimg img:first-child{
	max-height: 80%;
	max-width: 80%;
	border: 3px solid black;
	background: black;
  	border-radius: 5px;
  	padding: 2.5px;
  	object-fit: contain;
  	-o-object-fit: contain;
  	-webkit-transition: -webkit-transform .2s;
  	transition: -webkit-transform .2s;
  	-o-transition: transform .2s;
  	transition: transform .2s;
  	transition: transform .2s, -webkit-transform .2s;
} 

.mediaimg img:first-child:hover{
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
}

.mediaimg video:first-child{
	max-height: 85%;
	max-width: 85%;
	border: 3px solid black;
	background: black;
  	border-radius: 5px;
  	padding: 2.5px;
  	object-fit:contain;
  	-o-object-fit:contain;
  	-webkit-transition: -webkit-transform .2s;
  	transition: -webkit-transform .2s;
  	-o-transition: transform .2s;
  	transition: transform .2s;
  	transition: transform .2s, -webkit-transform .2s;
}

.mediaimg video:first-child:hover{
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
}

.mediaimg img:last-child{
	object-fit: contain;
	-o-object-fit: contain;
	margin-top: 10px;
}

div.mediatext{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	-webkit-box-orient: vertical;	
	-webkit-box-direction: normal;	
	    -ms-flex-direction: column;	
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.mediatext p:first-child{
	margin-top:-10px;
	font-family: 'Indie Flower';
	font-size: 16px;
	font-weight: bold;
}

.mediatext p:nth-child(2){
	margin-top: 0px;
	font-size: 10px;
}

.mediatext p:last-child{
	margin-top: -10px;
	font-size: 10px;
	color: gray;
}

.mediatext p{
	margin-left: -20px;
}

/* ELEMENTOS ASIDE */

#topright{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	-webkit-box-pack:end;	
	    -ms-flex-pack:end;	
	        justify-content:flex-end;
	-webkit-box-flex:0;
	    -ms-flex-positive:0;
	        flex-grow:0;
}

#topright img{
	object-fit: scale-down;
	-o-object-fit: scale-down;
	margin-right: 10px;
}

#loggedasdiv{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	-webkit-box-align: center;	
	    -ms-flex-align: center;	
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border: 0.5px solid black;
	height: 2.75em;
	margin-right: 1em;
	width: 16em;
	border-top: 0px;
}

#loggedasdiv:first-child{
	font-size: 1em;
	font-family: 'Indie Flower';
}

#sidebardiv{
	background-color: #f44336;
	width: 8em;
	height: 12em;
	border: 0.5px solid black;
	margin-top: 25%;
	border-right: 0px;
}

#sidebartag{
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	-webkit-box-pack: center;	
	    -ms-flex-pack: center;	
	        justify-content: center;
}

#sidebartag label{
	margin-top: 10px;
	margin-bottom: 10px;
}

#sidebar{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	-webkit-box-pack:end;	
	    -ms-flex-pack:end;	
	        justify-content:flex-end;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}

#categorias{
	height: 100px;
	width: 100px;
	border: 0.5px solid black;
	font-family: 'Indie Flower';	
	font-size: 18px;
}

.ad{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	-webkit-box-pack:center;	
	    -ms-flex-pack:center;	
	        justify-content:center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-ms-flex-item-align: center;
	    align-self: center;
	margin-top:5em;
	height: 175px;
	width: 225px;
	background-color: lightgray;	
}

#settingsicon{
	cursor:pointer;
}

/* ELEMENTOS FOOTER */

.textoanimacion{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	-webkit-box-pack: center;	
	    -ms-flex-pack: center;	
	        justify-content: center;	
	margin-top: 5em;
}

.textoanimacion p{
	font-family: 'Indie Flower';	
	font-weight: bold;
	font-size: 40px;
	-webkit-animation-duration: 20s;
	        animation-duration: 20s;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;	
}

#panimacion1{
	animation-name: anim-1;
	-webkit-animation-name: anim-1;
}

#panimacion2{
	animation-name: anim-2;
	-webkit-animation-name: anim-2;
}

#panimacion3{
	animation-name: anim-3;
	-webkit-animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@-webkit-keyframes anim-1{
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }	
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@-webkit-keyframes anim-2{
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }	
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}

@-webkit-keyframes anim-3{
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }	
}

#footerdiv{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	border-top: 0.5px solid black;
	border-bottom: 0.5px solid black;
	background-color: #f44336;
	height:3em;
	margin-top:5em;
	margin-bottom:2em;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

#footerdiv p{
	-webkit-box-flex: 1;
	        flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;	
	font-size: 15px;
	margin-left:-16.5%;
}

#socialmediaicons{
	-webkit-box-flex:1;
	    -ms-flex:1;
	        flex:1;
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	-webkit-box-orient:horizontal;	
	-webkit-box-direction:normal;	
	    -ms-flex-direction:row;	
	        flex-direction:row;
}

#socialmediaicons img{
	margin-top: 7px;
	margin-bottom: 7px;
	object-fit:contain;
	-o-object-fit: contain;
	width:7%;
  	-webkit-transition: -webkit-transform .2s;
  	transition: -webkit-transform .2s;
  	-o-transition: transform .2s;
  	transition: transform .2s;
  	transition: transform .2s, -webkit-transform .2s;
  	cursor:pointer;	
}

#socialmediaicons img:hover{
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
}

/* LINKS */

a:link{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: none;
	color: white;
}

a:active{
	text-decoration: none;
	color: black;
}

/* MEDIA QUERIES */

/* portatil */

@media only screen and (max-width: 1000px) and (min-width: 601px){

	/* BARRA NAVEGACION */

	nav{
		height: 65px;
	}

	#navbuttons{
		margin-left: 10%;
		-webkit-box-orient:horizontal;
		-webkit-box-direction:normal;
		    -ms-flex-direction:row;
		        flex-direction:row;
	}

	#navbuttons button{
		height: 55px;
		width: 55px;
		margin: 25px;	
	}	

	#logreg{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	#logreg button{
		width: 6em;	
		height: 1.5em;	
		font-size: 10px;		
	}

	#reg{
		margin-left: 0px;
		margin-top: 10px;
	}

	/* SECTION */

	section{
		height: 3250px;
	}

	#loggedasdiv{
		display: none;
	}

	#mainsection{
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		    -ms-flex-direction:column;
		        flex-direction:column;
		-webkit-box-pack:start;
		    -ms-flex-pack:start;
		        justify-content:flex-start;
		margin-left:10%;
	}

	.contentcontainer{
		width: 100%;
	}

	/* ASIDE */

	aside{
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}

	.ad{
		width: 150px;
		height: 1000px;
		-ms-flex-item-align: end;
		    align-self: flex-end;
		margin-top: 300px;		
	}

	/* FOOTER */

	#footerdiv{
		height: 2.5em;
	}

	#footerdiv p{
		font-size: 12.5px;		
	}

}

/* movil */

@media only screen and (max-width: 600px){

	/* BARRA NAVEGACION */

	nav{
		height: 50px;
	}

	#navbuttons{
		margin-left: 20%;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		    -ms-flex-direction:column;
		        flex-direction:column;
	}

	#navbuttons button{
		height: 40px;
		width: 40px;
		margin: 12px;	
	}		

	#logreg{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-right: 5px;
	}

	#logreg button{
		width: 6em;
		height: 1.5em;	
		font-size: 10px;
	}

	#reg{
		margin-left: 0px;
		margin-top: 6px;
	}

	/* SECTION */

	section{
		height: 2400px;
	}

	#loggedasdiv{
		display: none;
	}

	#mainsection{
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		    -ms-flex-direction:column;
		        flex-direction:column;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		margin-left:-5%;
	}

	.contentcontainer{
		width: 65%;
	}	

	/* ASIDE */

	aside{
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}

	#sidebardiv{
		width: 6.5em;
	}	

	.ad{
		width: 100px;
		height: 850px;
		-ms-flex-item-align: end;
		    align-self: flex-end;
		margin-top: 100px;		
	}

	/* FOOTER */

	#footerdiv{
		height: 2em;
	}

	#footerdiv p{
		font-size: 10px;
	}

}