/* BODY */

body{
	margin: 0px;
}

/* ETIQUETAS SEMANTICAS */

header{
	grid-area: header;
}

aside{
	grid-area: aside;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	align-items:flex-end;
	justify-content:flex-end;
}

content{
	grid-area: main;
	height: 750px;
}

footer{
	grid-area: footer;
}

nav{
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	justify-content: center;
	align-items: center;
	background-color: #f44336;
	height: 100px;
	border-bottom: 0.5px solid black;
}


/* SELECTOR GLOBAL */

p{
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
}

label{
	font-family: 'Indie Flower';
	font-weight: bold;	
}

/* BOTONES DEL MENU DE NAVEGACION */

#navbuttons{
	margin-left: 22%;
	flex-direction:row;
}

#navbuttons button{
	border-radius: 50%;
	height: 85px;
	width: 85px;
	background-color: white;
	border: 0.5px solid black;
	margin: 50px;
	cursor: pointer;	
}

button > img{
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content:center;
	align-items:center;	
	object-fit:scale-down;
	height:100%;
	width:100%;
}

#navbuttons button:hover{
	background-color: lightgray;
}

#navbuttons button:active{
  background-color: lightgray;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

#navbuttons button:focus{
	outline: 0;
}

#logreg {
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	margin-top: 0.5em;
	align-self: flex-start;
	padding-left: 10%;
}

#logreg button{
	width: 8em;
	background-color: white;
	border: 0.5px solid black;
	height: 1.75em;
	cursor: pointer;	
}

#reg{
	margin-left: 1em;
}

/* GRID CONTAINER */

.grid-container{
	display: grid;
	display: -ms-grid;
	grid-template-areas: 
	'header header header header'
	'main main main aside'
	'footer footer footer footer';
	grid-template-columns: 27% 27% 27% 19%;
}

/* ELEMENTOS HEADER */

#banner{
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	justify-content: space-between;
	align-items: center;
}

#bannerlink{
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	flex: 1;	
	display: block;
	margin-left: 20%;
	margin-right: 20%;
}

#dividioma{
	margin-left:20%;
	flex:1;
	-webkit-flex: 1;
	-ms-flex: 1;
	align-self: flex-end;
}

#logo {
	flex:1;
	-webkit-flex: 1;
	-ms-flex: 1;	
	display: block;
	object-fit: contain;
	margin-left: 35%;
	width:230%;
}

#divider1{
	height: 25px;
	border-top: 0.5px solid black;
	border-bottom: 0.5px solid black;
}

#divider1img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	object-fit:contain;
	-o-object-fit: contain;	
	height: 100%;
}

/* ELEMENTOS CONTENT */


/* parte superior */

#contenttop{
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	justify-content: space-between;
	align-items: flex-start;
}

#searchbar{
	border-radius: 1em;
	height: 1.5em;
}

#searchbar:focus{
	outline:0;
}

#advsearch{
	background-color: white;
	border: 0.5px solid black;
	height: 1.75em;
	margin-left: 0.5em;
	cursor: pointer;
}

/* parte principal */

#mainsection{
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	flex-direction: row;
	justify-content: space-between;
	margin: 2.5em;
	height: 100%;		
}

.contentdiv{
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	align-items: center;
	flex-direction: column;
	width: 350px;
}

p.contentdivtag{
	font-family: 'Indie Flower';
	font-size: 1.25em;
}

.contentcontainer{
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	align-items: center;
	flex-direction: column;
	width: 80%;
	height: 100%;
	background-color: #f44336;
	border: 0.5px solid black;
	overflow-y: auto;
	overflow-x:hidden;
}

div.mediacontent{
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	align-items: center;
	justify-content: center;
	flex-shrink:0;
	height: 30%;
	width: 90%;
}

div.mediaimg{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 70%;
	width: 70%;
	margin-right: 1em;
}

.mediaimg img:first-child{
	max-height: 80%;
	max-width: 80%;
	border: 3px solid black;
	background: black;
  	border-radius: 5px;
  	padding: 2.5px;
  	object-fit: contain;
  	-o-object-fit: contain;
  	transition: transform .2s;
} 

.mediaimg img:first-child:hover{
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
}

.mediaimg video:first-child{
	max-height: 85%;
	max-width: 85%;
	border: 3px solid black;
	background: black;
  	border-radius: 5px;
  	padding: 2.5px;
  	object-fit:contain;
  	-o-object-fit:contain;
  	transition: transform .2s;
}

.mediaimg video:first-child:hover{
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
}

.mediaimg img:last-child{
	object-fit: contain;
	-o-object-fit: contain;
	margin-top: 10px;
}

div.mediatext{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.mediatext p:first-child{
	margin-top:-10px;
	font-family: 'Indie Flower';
	font-size: 16px;
	font-weight: bold;
}

.mediatext p:nth-child(2){
	margin-top: 0px;
	font-size: 10px;
}

.mediatext p:last-child{
	margin-top: -10px;
	font-size: 10px;
	color: gray;
}

.mediatext p{
	margin-left: -20px;
}

/* ELEMENTOS ASIDE */

#topright{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	justify-content:flex-end;
	flex-grow:0;
}

#topright img{
	object-fit: scale-down;
	-o-object-fit: scale-down;
	margin-right: 10px;
}

#loggedasdiv{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	align-items: center;
	justify-content: center;
	border: 0.5px solid black;
	height: 2.75em;
	margin-right: 1em;
	width: 16em;
	border-top: 0px;
}

#loggedasdiv:first-child{
	font-size: 1em;
	font-family: 'Indie Flower';
}

#sidebardiv{
	background-color: #f44336;
	width: 8em;
	height: 12em;
	border: 0.5px solid black;
	margin-top: 25%;
	border-right: 0px;
}

#sidebartag{
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	justify-content: center;
}

#sidebartag p{
	font-family: 'Indie Flower';
}

#sidebar{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	justify-content:flex-end;
	align-items:center;
}

#categorias{
	height: 100px;
	width: 100px;
	border: 0.5px solid black;
	font-family: 'Indie Flower';	
	font-size: 18px;
}

.ad{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	justify-content:center;
	align-items:center;
	align-self: center;
	margin-top:5em;
	height: 175px;
	width: 225px;
	background-color: lightgray;	
}

/* ELEMENTOS FOOTER */

.textoanimacion{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	justify-content: center;	
	margin-top: 5em;
}

.textoanimacion p{
	font-family: 'Indie Flower';	
	font-weight: bold;
	font-size: 40px;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;	
}

#panimacion1{
	animation-name: anim-1;
	-webkit-animation-name: anim-1;
}

#panimacion2{
	animation-name: anim-2;
	-webkit-animation-name: anim-2;
}

#panimacion3{
	animation-name: anim-3;
	-webkit-animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@-webkit-keyframes anim-1{
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }	
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@-webkit-keyframes anim-2{
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }	
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}

@-webkit-keyframes anim-3{
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }	
}

#footerdiv{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	border-top: 0.5px solid black;
	border-bottom: 0.5px solid black;
	background-color: #f44336;
	height:3em;
	margin-top:5em;
	margin-bottom:2em;
	justify-content: space-between;
}

#footerdiv p{
	flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;	
	font-size: 15px;
	margin-left:-16.5%;
}

#socialmediaicons{
	flex:1;
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	flex-direction:row;
}

#socialmediaicons img{
	margin-top: 7px;
	margin-bottom: 7px;
	object-fit:contain;
	-o-object-fit: contain;
	width:7%;
  	transition: transform .2s;
  	cursor:pointer;	
}

#socialmediaicons img:hover{
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
}

/* LINKS */

a:link{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: none;
	color: white;
}

a:active{
	text-decoration: none;
	color: black;
}

/* MEDIA QUERIES */

/* portatil */

@media only screen and (max-width: 800px) and (min-width: 601px){

}

/* movil */

@media only screen and (max-width: 600px){

}