/* BODY */

body{
	margin: 0px;
}

/* ETIQUETAS SEMANTICAS */

header{
	grid-area: header;
}

content{
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(244,67,54,1) 100%);
	grid-area: main;
	height: 750px;
}

footer{
	grid-area: footer;
}

nav{
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	justify-content: center;
	align-items: center;
	background-color: #f44336;
	height: 100px;
	border-bottom: 0.5px solid black;
}


/* SELECTOR GLOBAL */

p{
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
}

/* BOTONES DEL MENU DE NAVEGACION */

#navbuttons{
	flex-direction:row;
}

#navbuttons button{
	border-radius: 50%;
	height: 85px;
	width: 85px;
	background-color: white;
	border: 0.5px solid black;
	margin: 50px;
	cursor: pointer;	
}

#navbuttons button:hover{
	background-color: lightgray;
}

#navbuttons button:active{
  background-color: lightgray;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

#navbuttons button:focus{
	outline: 0;
}

/* GRID CONTAINER */

.grid-container{
	display: grid;
	display: -ms-grid;
	grid-template-areas: 
	'header'
	'main'
	'footer';
}

/* ELEMENTOS HEADER */

#banner{
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	justify-content: center;
	align-items: center;
}

#logo {
	flex:1;
	-webkit-flex: 1;
	-ms-flex: 1;	
	display: block;
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
	height:158px;
}

#divider1{
	height: 25px;
	border: 0.5px solid black;
	border-right: 0px;
	border-left: 0px;
}

#divider1img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	object-fit:contain;
	-o-object-fit: contain;	
	height: 100%;
}

/* ELEMENTOS CONTENT */

#contenido{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top:10%;
	margin-bottom:auto;	
	height: 400px;
	width: 800px;	
	border: 0.5px solid black;	
	background: white;
}

#contenidotop{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;	
	animation-name: ticker;
	animation-iteration-count: infinite;
	animation-duration: 10s;
}

#contenidotop p{
	font-family: 'Indie Flower';
	font-weight: bold;
	font-size:20px;	

}

#formulariodiv{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;	
	border-top: 1px solid black;
}

#formulario{
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;	
	max-width: 175px;
}

label{
	font-family: 'Indie Flower';
	font-weight: bold;	
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(42.5%, 0, 0);
    transform: translate3d(42.5%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-42.5%, 0, 0);
    transform: translate3d(-42.5%, 0, 0);
  }
}

#submit {
	margin-top: 10px;
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}


#submit:hover{
	transform:scale(1.25);
}

/* ELEMENTOS FOOTER */

#footerdiv{
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	border-top: 0.5px solid black;
	border-bottom: 0.5px solid black;
	background-color: #f44336;
	height:3em;
	margin-bottom:2em;
	justify-content: space-between;
}

#footerdiv p{
	flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;	
	font-size: 15px;
	margin-left:-20%;
}

#socialmediaicons{
	flex:1;
	display:flex;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;	
	flex-direction:row;
}

#socialmediaicons img{
	margin-top: 7px;
	margin-bottom: 7px;
	object-fit:contain;
	-o-object-fit: contain;
	width:7%;
  	transition: transform .2s;	
}

#socialmediaicons img:hover{
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
}


/* LINKS */

a:link{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: none;
	color: white;
}

a:active{
	text-decoration: none;
	color: black;
}